vendor
cmd/hercules/plugin_template_source.go
examples/contrib/_plugin_example/churn_analysis.pb.go
api/proto/pb/pb.pb.go
api/proto/pb/pb_pb2.py
coverage.txt
build/tools/protoc-gen-gogo
build/bin/hercules
build/bin/herr
build/bin/uast
python/dist
python/build

**/*.egg-info
**/__pycache__
**/.DS_Store
.idea

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.log

*.tsv
*.tsv.gz
*.rawast.json

**/__pycache__
debug*
test/data/
temp_repo/
test/benchmark_plots/
test_submodule/

third_party/grammars/
grammars_json/
third_party/go-sitter-forest/
test/benchmarks/
test/benchmarks/benchmark_results.txt
debug/
build/bin/
build.log
.backend.pid
.vite.pid